body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(71, 71, 99);
    font-family: 'ariel';
    color: black;
    
}

.weather-info {
    background-color: clear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px black;
    border: none;
}

.weather-now {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 100;
    background-color: rgba(240, 248, 255, 0.7);;
    
}

.forecast {
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; */
    display: grid;
    grid-template-columns: repeat(5, 100px);
    /* grid-template-rows: repeat(11, 50px); */

}





