body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(71, 71, 99);
    font-family: 'ariel';
    color: black;
    
}

.weather-info {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px black;
    border: none;
}

.weather-now {
    /* border: 2px solid black; */
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
}

.card {
    /* box-shadow: 0px 0px 10px black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 100;
    background-color: rgba(240, 248, 255, 0.7);
    
}

.forecast {
    background-color: aquamarine;
    height: auto;
    width: 100%; 
    display: grid;
    grid-template-columns: 100%;
     /* grid-template-columns: repeat(5, 302px);  */
     /* grid-template-rows: repeat(11, 50px);  */
    border: 2px solid black; 
}


.forecast div {
    border: 1px solid black;
}

.forecast-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tempbar {
    height: 30%;
    width: 30%;
    border-radius: 25px;
}

.fillcolor {
    height: 25%;
    width: 70%;
    background-color: lightblue;
    border-radius: 25px;
}

/* * {
outline: 1px solid red;
} */

@media (max-width: 800px) { 
.forecast { 
    background-color: yellow; 
grid-template-columns: 200px; 
} 
 }
